DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

SUPABASE_BUCKET_IMAGE=
SUPABASE_BUCKET_DOCS=
SUPABASE_BUCKET=

JWT_SECRET=

PORT=
DATABASE_URL=